<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory>classes</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-html" target="coverage"/>
  </logging>
</phpunit>